<div class="message-container <%=current_user == message.user ? "self-message" : ""%>" id="message-<%= message.id %>" data-author="<%= message.user.id%>">
  <i>
    <span class="author"><%= message.user.first_name %> <%= message.user.last_name %></span>
    <span id="chat-time"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></span>
  </i>
  <p> <i class="fas fa-reply" style="color: #E50914"></i> <%= message.content %></p>
</div>
