<div class="chat-container">

  <div class="chat-main-header">
    <div class="chat-main-header-right">
      <% if @chatroom.user.photo.attached? %>
        <%= cl_image_tag @chatroom.user.photo.key, height: 200, width: 200, crop: :fill, class: "avatar-user-show-friend" %>
      <% else %>
        <%= image_tag("fakepic.png")%>
      <% end %>
      <h1 class="header-chat"> <%= @chatroom.user.first_name%> </h1>
    </div>
    <div class="chat-main-header-left">
      <% if @chatroom.creator.photo.attached? %>
        <%= cl_image_tag @chatroom.creator.photo.key, height: 200, width: 200, crop: :fill, class: "avatar-user-show-friend" %>
      <% else %>
        <%= image_tag("fakepic.png")%>
      <% end %>
      <h1 class="header-chat"> <%= @chatroom.creator.first_name%> </h1>
    </div>
  </div>
  <div id="line"></div>


  <div id="chat" data-chatroom-id="<%= @chatroom.id %>">
    <div id="chat-scrollbar">
      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/message', message: message%>
      <% end %>
    </div>
  </div>
  <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Messages between #{@chatroom.name}" %>

  <% end %>

  <div id="container-btn-chat">
    <%= link_to "Back", root_path, class: "btn-chat" %>
  </div>

<div>

