<div class="user-edit-container">
  <% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, class: "avatar-user-edit" %>
  <% else %>
  <%= image_tag("fakepic.png", class: "avatar-user-edit") %>
  <% end %>

</div>

<div id="user-edit-main-container" >
  <div>
    <%= simple_form_for @user do |f| %>
      <%= f.input :email %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :birth_date,
                  order: %i(day month year),
                  start_year: Time.now.year - 100,
                  end_year: Time.now.year %>
      <%= f.input :country %>
      <%= f.input :gender %>
      <%= f.input :photo, as: :file %>
      <div style="text-align: right">
        <%= f.button :submit, class: "btn user-edit-update-button" %>
      </div>
    <% end %>
  </div>
</div>

<div id="user-edit-bottom-container">
    <%= link_to "Back", user_path, class: "btn user-edit-back-button mt-2 ms-0" %>
</div>


