<div class="user-show-container">
  <% if @user.photo.attached? %>
  <%= cl_image_tag @user.photo.key, class: "avatar-user-show" %>
  <% else %>
  <%= image_tag("fakepic.png", class: "avatar-user-show") %>
  <% end %>
  <h5 class="header-sub-profile"><%= @user.first_name%> <%=@user.last_name%></h5>
</div>

</div>
<div id="user-show-bottom-container">
  <div id="user-show-left-column">
    <div id="user-show-about-me">
      <div>
        <h6> <strong> About me </strong> </h6>
        <p id="user-show-small-font"> <i class="far fa-envelope ml-2" style="color: #EF0914; font-size: 20px;"></i><%# image_tag "email-icon.png", class: "user-show-icon" %> <span class="m-2"> <em> <%= @user.email%> </em> <span> </p>
        <p id="user-show-small-font"><i class="fas fa-map-marked-alt ml-2" style="color: #EF0914; font-size: 20px;"></i><%# image_tag "country-icon.png", class: "user-show-icon" %> <span class="m-2"> <%= @user.country%> </span> </p>
      <% if @user.gender%>
        <p id="user-show-small-font"><i class="fas fa-venus-mars ml-2" style="color: #EF0914; font-size: 20px;"></i><%# image_tag "gender-icon.png", class: "user-show-icon" %> <span class="m-2"> <%= @user.gender.capitalize%> </span> </p>
      <%end%>
      <% if @user.birth_date%>
        <p id="user-show-small-font"><i class="fas fa-birthday-cake ml-2" style="color: #EF0914; font-size: 20px;"></i><%# image_tag "age-icon.png", class: "user-show-icon" %> <span class="m-2"> <%= @user.years(@user.birth_date)%> </span> </p>
      <%end%>
      </div>
      <div >
        <% if @user == current_user%>
          <i class="fas fa-user-edit"> </i> <%= link_to "edit", edit_user_path, id: "user-show-edit-button"  %>
        <%end%>
        </div>
    </div>
    <div id="user-show-top-3">
      <h6> <strong> My favorite movies </strong> </h6>
      <div id="scrollbar">
        <p id="user-show-small-font"> <% @favorite_videos.each do |video|%> </p>
        <p id="user-show-small-font"> <i class="fas fa-heart ml-2" style="color:#EF0914; font-size: 20px;"> </i> <span class="m-2"> <%= video.title%> </span> </p>
        <%end %>
      </div>
      <div style="flex-grow:1"></div>
    </div>
  </div>

  <div id="user-show-right-column">
    <h6 style="margin-bottom: 20px"> <strong> Friends </strong> </h6>
      <%=render "components/show-friends"%>
  </div>
</div>
<div class="user-show-middle-container">
  <div>
    <%= render "components/back-button"%>
  </div>
</div>
