<div class="user-show-container">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-user-show" %>
  <h5 class="header-sub"><%= @user.first_name%> <%=@user.last_name%><h5>

<p class="white-characters">Email: <%= @user.email%></p>
<p class="white-characters">Country: <%= @user.country%></p>
<p class="white-characters">Gender: <%= @user.gender%></p>
<p class="white-characters">Password: <%= @user.password%></p>


</div>
