<div class="home-container">
  <h1 class="header"> Your top matches </h1>
  <h5 id="dashboard-sub"> <span id="name"> <strong> <%= current_user.first_name %> </strong> </span> you have many matches, start chatting now 💬 </h5>


  <% @users.each do |user| %>
    <div class="card-product">
      <%= image_tag("fakepic.png")%>
        <div class="card-product-infos">
         <div>
            <h2 class="card-user"> <%= user.first_name %> <%= user.last_name %> (<%= user.country %>) </h2>
            <p class="card-user"> <strong> Age: </strong> <%= user.age %> years old </p>
          </div>
          <div id="card-buttons">
            <%= link_to "Profile", user_path(user), class: "btn btn-ghost m-2 "%>
            <%= link_to "Chat", "#", class: "btn btn-ghost m-2"%>
          </div>
        </div>
    </div>
  <%end%>
</div>

